CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-debug/
.idea/
*.cmake
lib60870-C/build/
lib60870-C/examples/Makefile
lib60870-C/examples/cs101_master_balanced/cs101_master_balanced
lib60870-C/examples/cs101_master_unbalanced/cs101_master_unbalanced
lib60870-C/examples/cs101_slave/cs101_slave
lib60870-C/examples/cs104_client/simple_client
lib60870-C/examples/cs104_redundancy_server/cs104_redundancy_server
lib60870-C/examples/cs104_server/cs104_server
lib60870-C/examples/cs104_server_no_threads/cs104_server_no_threads
lib60870-C/examples/multi_client_server/multi_client_server
lib60870-C/src/Makefile
lib60870-C/src/lib60870-shared_export.h
lib60870-C/src/liblib60870.a
lib60870-C/src/liblib60870.so
lib60870-C/src/liblib60870.so.2.2.1
lib60870-C/tests/Makefile
